/* Muller-300-Light - cyrillic_latin */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

/* Muller-400-Regular - cyrillic_latin */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

/* Muller-500-Medium - cyrillic_latin */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

/* Muller-700-Bold - cyrillic_latin */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

:root {
  --white-color: #ffffff;
  --black-color: #333333;
  --orange-color: #cc9933;
  --hover-color: #f0Bf5f;
  --dark-grey: #666666;
  --grey-color: #e5e5e5;
  --minimal-grey: #999999;
  --lighty-grey: #e1e1e1;
  --white-grey: #e9e9e9;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--grey-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
}

.site-heading {
  margin: 0 0 20px 40px;
  font-size: 40px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

.site-btn {
  padding: 13px 20px;
  cursor: pointer;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--orange-color);
}

.site-btn:hover {
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: 0.6s;
  transform: translateY(1px);
}

.header__title {
  display: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  margin-bottom: 70px;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__top {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-wraper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 34px;
}

.header__phone {
  font-size: 20px;
  line-height: 1;
  color: var(--dark-grey);
}

.header__phone:hover {
  color: var(--orange-color);
  transition: color 0.7s ease;
}

.header__personal {
  color: var(--orange-color);
}

.header__personal:hover {
  color: var(--hover-color);
  transition: 0.3s;
  transform: translateY(1px);
}

.header__personal:focus {
  transform: translateY(1px);
}

.header__bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 12px 45px;
  border-radius: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__link {
  font-size: 16px;
  line-height: 16px;
  color: var(--dark-grey);
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--orange-color);
  transition: color 0.3s ease;
}

.header__btn {
  padding: 13px 20px;
  cursor: pointer;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--orange-color);
}

.header__btn:hover {
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: 0.6s;
}

.header__btn:not(:last-child) {
  margin-right: 39px;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

/* Section Offers */

.section-offers {
  margin: 70px 0 70px 0;
}

.section-offers__special-article {
  max-width: 573px;
  max-height: 258px;
  border-radius: 15px;
  height: 258px;
  max-width: 573px;
}

.second {
  margin: 0 0 24px 0;
}

.section-offers__special-article-big {
  border-radius: 15px;
  min-height: 540px;
}

.section-offers__content {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.section-offers__wrap {
  height: 100%;
  padding: 40px 108px 40px 45px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
}

.section-offers__wrap-big {
  height: 100%;
  padding: 212px 249px 40px 45px;
}

.section-offers__heading {
  padding: 0;
}

.section-offers__left-wrap {
  width: 51%;
  min-height: 540px;
}

.section-offers__right-wrap {
  width: 49%;
}

.section-offers__heading {
  max-width: 72%;
  margin: 0;
  color: var(--white-color);
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.section-offers__heading-big {
  margin: 0;
  color: var(--white-color);
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.section-offers__price {
  display: block;
  padding: 15px 0 47px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--white-color);
  opacity: 0.8;
}

.section-offers__link {
  display: flex;
  color: var(--hover-color);
}

.section-offers__link:hover {
  display: flex;
  color: var(--white-color);
  transition: 1s;

}

.section-offers__ico {
  margin: 0 0 0 5px;
}

/* Section About  */

.section-about__heading {
  padding: 0;
}

.section__about-content {
  max-width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 70px 0;
}

/* Section Services */

.section-services {
  margin: 0 0 70px 0;
}

.section-services__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-services__link {
  display: block;
}

.section-services__list {
  width: 49%;
}

.section-services__list:nth-child(-n+2) {
  width: 49%;
  margin: 0 0 24px 0
}

.section-services__item {
  background-color: var(--white-color);
  border-radius: 15px;
}

.section-services__content {
  padding: 26px 126px 35px 45px;
}

.section-services__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: var(--orange-color)
}

.section-services__text {
  font-size: 16px;
  line-height: 32px;
}

.section-services__ico {
  margin: 0 0 0 5px
}

.section-services__item:not(:last-child) {
  margin-right: 24px;
}

/* Section Advantages */

.section-advantages {
  margin: 0 0 70px 0;
}

.section-advantages__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-advantages__list:nth-child(-n+2) {
  margin-bottom: 25px;
}

.section-advantages__item {
  padding: 98px 42px 32px 45px;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  background-color: var(--white-color);
  border-radius: 15px;
  max-width: 275px;
  max-height: 275px;
}

.section-advantages__text {
  font-size: 16px;
  line-height: 32px;
}

/* Section Accommodation */

.section-accommodation {
  padding-bottom: 65px;
}

.section-accommodation__article {
  background-color: var(--white-color);
  border-radius: 15px;
  max-height: 440px;
}

.section-accommodation__article-last {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-height: 440px;
}

.section-accommodation__wrap {
  padding: 32px 45px 45px 45px;
}

.section-accommodation__article {
  margin-bottom: 24px;
}

.section-accommodation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-accommodation__item,
.section-accommodation__item-last {
  width: 374px;
}

.section-accommodation__price {
  display: inline-block;
  padding: 0 36px 16px 0;
}

.section-accommodation__stars {
  display: inline-block;
}

.section-accommodation__text {
  margin-right: 4px;
  font-size: 16px;
}

.section-accommodation__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 16px 0;
}

.section-accommodation__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--minimal-grey);
  padding: 0 0 20px 0;
}

.section-accommodation__strong {
  margin-right: 4px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.section-accommodation__btn {
  padding: 13px 20px;
  cursor: pointer;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--orange-color);
}

.section-accommodation__btn:hover {
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: 0.6s;
}

.section-accommodation__item-last {
  display: flex;
}

.section-accommodation__item-last {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 0 55px 55px;
  background-image: url("../img/hotel_9.png");
  background-repeat: no-repeat;
}

.section-accommodation__item-last a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-accommodation__item-link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: var(--white-color);
}

.section-accommodation__item-link:hover {
  color: var(--orange-color);
  transition: 0.6s;
}

.section-accommodation__item-last-ico {
  margin: 0 0 0 4px;
}

/* Need tour */

.section-tour {
  padding-bottom: 70px;
}

.section-tour__wrap {
  background: var(--white-grey);
  padding: 45px 45px 45px 40px;
  height: 265px;
  border-radius: 15px;
}

.section-tour__heading {
  font-family: "Muller", sans-serif;
  margin: 0 0 20px 0;
  font-weight: 400;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
}

.section-tour__form {
  padding: 31px 25px;
  display: flex;
  background-color: var(--white-color);
  height: 106px;
  border-radius: 15px;
}

.section-tour__form-label {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  flex-direction: column;
  margin-right: 15px;
}

.section-tour__form-label:not(:first-child) {
  padding-left: 15px;
  border-left: 1px solid var(--lighty-grey)
}

.section-tour__form-label:nth-child(5) {
  margin-right: 55px;
}

.section-tour__form-input,
.section-tour__form-input::placeholder {
  margin-top: 15px;
  font-size: 16px;
  border: none;

}

.section-tour__form-input {
  border-bottom: 1px solid var(--lighty-grey);
}

.section-tour__form-select {
  padding: 2px;
  margin-top: 15px;
  font-size: 16px;
  border: none;
}

.section-tour__form-btn {
  padding: 13px 30px;
  cursor: pointer;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--orange-color);
}

.section-tour__form-btn:hover {
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: 0.6s;
}

/* Section contacts */

.section-contacts__container {
  padding-bottom: 40px;
}

.section-contacts__heading {
  font-family: "Muller", sans-serif;
  margin: 0 0 20px 40px;
  font-weight: 400;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
}

.section-contacts__content {
  padding: 45px;
  background-color: var(--white-color);
  border-radius: 15px;
  background-image: url(../img/contacts_bg.png);
  background-repeat: no-repeat;
  background-position: 91% center;
}

.section-contacts__title {
  font-family: "Muller", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.section-contacts__list {
  max-width: 375px;
  margin-bottom: 30px;
}

.section-contacts__item {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  padding: 25px 0 23px 0;
  border-bottom: 1px solid var(--white-grey);
}

.section-contacts__wrap-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.section-contacts__wrap {
  display: inline-block;
  max-width: 229px;
  text-align: start;
}

.section-contacts__description {
  font-size: 16px;
  color: var(--minimal-grey)
}

.section-contacts__link {
  display: inline-block;
  color: var(--orange-color);
  font-size: 16px;
  line-height: 24px;
  transition: 0.7s;
}

.section-contacts__link:hover {
  color: var(--hover-color);
  transition: 0.7s;
}

.section-contacts__address {
  margin: 0;
}

.section-contacts__btn {
  font-size: 16px;
  padding: 25px 30px;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  background-color: var(--white-color);
  border-radius: 15px;
}

.section-contacts__btn:hover {
  border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  color: var(--white-grey);
  transition: 0.6s;
}

/* Section Footer */

.footer__container {
  margin-bottom: 20px;
}

.footer__wrap {
  display: flex;
  min-height: 341px;
  padding: 45px;
  background-color: var(--black-color);
  border-radius: 15px;
  color: var(--white-color);
  background-image: url(../img/sun_logo.svg);
  background-repeat: no-repeat;
  background-position: 81% bottom;
}

.footer__copyright {
  max-width: 320px;
  margin-right: 125px;
}

.footer__copyright-text {
  margin: 0 0 37px 0;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  line-height: 30.4px;
}

.footer__copyright-link {
  padding-top: 3px;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  color: var(--orange-color);
  transition: 0.7s;
}

.footer__copyright-link:hover {
  color: var(--hover-color);
  transition: 0.7s;
}

.footer__adress {
  min-width: 359px;
  margin-right: 269px;
}

.footer__adress-text {
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 30px;
}

.footer__link {
  display: block;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--orange-color);
  transition: 0.7s;
}

.footer__link:hover {
  color: var(--hover-color);
  transition: 0.7s;
}

.phone-link:not(:first-child) {
  margin: 0 0 15px 0;
}

.footer_image {
  min-width: 255px;
}

.footer__social {
  min-width: 45px;
}

.footer__social-link {
  display: block;
  margin-bottom: 20px;
}

.footer__soc_link:hover {
  transition: opacity .3s ease-in-out;
  opacity: 0.5;
}

.footer__social-ico path:hover {
  fill: var(--white-grey);
  transition: 0.7s;
}